

<div class="row">
  <mat-spinner *ngIf="!itemdetail"></mat-spinner>
  <div class="column" *ngFor="let item of img | keyvalue">
    <img src={{item.value.url}} alt={{item.value.url}}>
  </div>
  <div class="column" >
    <h2>{{itemdetail.title}}</h2>
    <h2>{{itemdetail.id}}</h2>
    <h2>{{itemdetail.seller_address.city.name}}</h2>
    <h2>{{itemdetail.seller_address.state.name}}</h2>
    <h2>  {{itemdetail.original_price  | currency:'COP':'symbol-narrow'}}</h2>
    <h2 class="discount">{{itemdetail.base_price  | currency:'COP':'symbol-narrow'}}</h2>
    <button (click)="cancel()"  mat-raised-button color="primary">Go back</button>
  </div>
  </div>
 


 
